*{
margin: 0;
padding: 0;

}

html,body{
	height: 100%;
}

input[type=file]{
  display: none;
}

label{
  display: block;
  margin: 40px auto;
  width: 220px;
  height: 40px;
  background-color: rgb(14, 12, 12);
  color: azure;
  border:4px solid rgb(247, 216, 216);
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: 17px;
}
form{
  text-align: center;
  background-color: aliceblue;
  padding: auto;
}
form select{
  width: 220px;
  height: 30px;

}